<div class="content">
  <mat-card>
    <mat-toolbar color="primary">Orders</mat-toolbar>

    <div class="column-flex" *ngIf="orders.length > 0; else ordersEmpty">
      <mat-paginator (page)="handlePageEvent($event)"
                [length]="totalPages"
                [pageSize]="3"
                [hidePageSize]="true"
                aria-label="Select page"
                style="margin-right: 20px;">
      </mat-paginator>

      <div class="div-card" *ngFor="let order of orders">
        <div>
          <span><b>{{ formatDate(order.date) }}</b></span>
        </div>

        <mat-card>
          <div *ngFor="let bookSell of order.booksSell" class="order-books">
            <div>
              <img [src]="bookSell.book.imageUrl">
            </div>
            <div style="overflow: auto;">
              <h3><b>{{ bookSell.book.title }}</b></h3>
            </div>
          </div>
        </mat-card>

        <div>
          <span><b>Total Value: R${{ order.totalValue }}</b></span>
        </div>

      </div>
    </div>

    <ng-template #ordersEmpty>
     <div class="column-flex">
       <span style="text-align: center; margin-top: 1em;">You not have orders!</span><br>
       <button mat-raised-button color="primary" [routerLink]="'/books'">Return</button>
     </div>
   </ng-template>

  </mat-card>
</div>
