.div-card {
  display : flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.div-card mat-card {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  width: fit-content;
}

.order-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 14.253rem;
}

.order-books div {
  width: 100%;
}

.order-books img {
  max-width: 14.253rem;
  height: 100%;
  width: 100%;
}
