mat-card {
  align-self: center;
  width: 60%;
}

.form-login {
  padding: 10px;
  text-align: center;
}

.buttons {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.buttons button {
  width: 100%;
  margin-top: 5px;
}
