<div *ngIf="totalPages > 0; else booksEmpty">
  <mat-paginator (page)="handlePageEvent($event)"
                [length]="totalPages"
                [pageSize]="3"
                [hidePageSize]="true"
                aria-label="Select page"
                style="margin-right: 20px;">
  </mat-paginator>

  <div class="div-card">
    <mat-card *ngFor="let book of books" style="margin-top: 0;">

      <div *ngIf="isAdmin" class="card-header-delete-book">
        <button mat-mini-fab color="warn">
          <mat-icon (click)="onDeleteBook(book.id)">delete</mat-icon>
        </button>
      </div>

      <div class="card-header">
        <div class="card-title"><b>{{ book.title }}</b></div>
      </div>

      <div class="card-subtitle">
        <button mat-button [routerLink]="['/books']" [queryParams]="{category: book.category.name}">
          <b>{{ book.category.name }}</b>
        </button>
      </div>

      <div class="card-info">
        <div class="book-image">
          <img mat-card-image [src]="book.imageUrl">
        </div>

        <div class="book-info">
          <b>Price:</b> R$ {{ book.unitPrice }}<br>
          <b>Author:</b> {{ book.author }}<br>
          <b>Publishing Company:</b> {{ book.publishingCompany }}<br><br>
        </div>

        <div class="book-description">
          <p>{{ book.description }}</p>
        </div>
      </div>

      <div class="actions">
        <button mat-raised-button color="primary" (click)="onAddInCart(book)">Add to Cart</button>
        <button mat-raised-button color="primary" *ngIf="isAdmin" (click)="onEditBook(book)">Edit Book</button>
      </div>
    </mat-card>
  </div>
</div>

<ng-template #booksEmpty>
  <div class="column-flex">
   <span style="text-align: center; margin-top: 1rem;">No books found!</span><br>
   <button mat-raised-button color="primary" [routerLink]="'/books'">Return</button>
  </div>
</ng-template>
