mat-toolbar {
  font-weight: bolder;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-cart {
  margin-inline-start: auto;
}

//menu responsible
nav {
  display: none;
}

nav ul {
  padding-left: 0;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 563px) {
  .header-cart,
  .header-user,
  .header-search {
    display: none;
  }

  .one, .two, .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.5s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

  .menu-section.on {
    background-color: #212121;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed; top: 0; left: 0;
    z-index: 1;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 15px;
    top: 13px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(55deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-55deg) translate(9px, -9px);
  }

  .menu-section.on nav {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 2rem;
    line-height: 5rem;
  }
}
