<mat-toolbar color="primary" *ngIf="userState$ | async as state">

  <div class="header-container">
    <div class="header-logo">
      <button style="font-size: larger;" mat-button [routerLink]="['/books']">E-Books Library</button>
    </div>

    <div class="header-search">
      <mat-form-field class="example-form-field">
        <input matInput type="text" [(ngModel)]="bookSearch">
        <button *ngIf="bookSearch" matSuffix mat-icon-button aria-label="Clear" (click)="bookSearch=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button [routerLink]="['/books']" [queryParams]="{searchBook: bookSearch}" (click)="bookSearch=''">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="header-cart">
      <button mat-icon-button [routerLink]="['/cart']">
        <mat-icon>shopping_cart</mat-icon>
        <span>{{cartSize}}</span>
      </button>
    </div>

    <div class="header-user">
      <button *ngIf="!state.loggedIn" mat-icon-button [routerLink]="['/login']">
        <mat-icon>person</mat-icon>
      </button>

      <button *ngIf="state.loggedIn" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item [routerLink]="['/library']">
          <mat-icon>book</mat-icon>
          <span>Library</span>
        </button>
        <button mat-menu-item [routerLink]="['/orders']">
          <mat-icon>monetization_on</mat-icon>
          <span>Orders</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

  </div>

  <div class="menu-section" (click)="openSidenavResponsible()">
    <div class="menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>

    <nav>
      <ul style="list-style: none;">
        <li><a [routerLink]="['/books']">Home</a></li>
        <li *ngIf="!state.loggedIn">
          <a [routerLink]="['/login']">Login</a>
        </li>
        <div *ngIf="state.loggedIn">
          <li><a [routerLink]="['/profile']">Profile</a></li>
          <li><a [routerLink]="['/library']">Library</a></li>
          <li><a [routerLink]="['/orders']">Orders</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </div>
        <li>
          <button mat-icon-button [routerLink]="['/cart']">
            <mat-icon>shopping_cart</mat-icon>
            <span>{{cartSize}}</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>
