<mat-card>
  <mat-toolbar color="primary">
    Available Books {{msg}}

    <span class="example-spacer"></span>

    <button *ngIf="user.isAdmin" mat-button class="button-add" (click)="openBookForm(null)"><mat-icon>library_add</mat-icon></button>

  </mat-toolbar>

  <div class="column-flex mat-elevation-z8" style="overflow-y: auto;">
    <app-book-list
      [books]="books"
      [isAdmin]="user.isAdmin"
      [totalPages]="totalPages"
      (addInCart)="addInCart($event)"
      (changePage)="changePage($event)"
      (deleteBook)="deleteBook($event)"
      (editBook)="editBook($event)"
    >
    </app-book-list>
  </div>
</mat-card>
